.graphs-block {
    background-color: #282c34;
    min-height: 100vh;
    color: #fff;
}

.logout-btn {
    border: none;
    background-color: rgb(226, 126, 126);
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

.chart-title {
    text-align: center;
    margin: 0;
    padding-top: 20px;
}