.login-block {
    display: block;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.login-ph {
    margin-bottom: 20px;
}

.form-list {
    list-style: none;
}

.form-ph {
    border-bottom: 1px solid #fff;
    color: white;
    border-top: none;
    border-right: none;
    border-left: none;
    padding: 10px;
    background-color: #282c34;
}

.form-ph:focus-visible {
    border-bottom: 1px solid #fff;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
}

.login-btn {
    padding: 10px 20px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #61dafb;
}